<h1>Meus Projetos</h1>

<a href="/criar-projeto/">Criar novo projeto</a>

<ul>
    {% for projeto in projetos %}

        <li style="display: flex; justify-content: space-between; align-items: center; width: 500px;">
    <span>
        {{ projeto.nome }} - {{ projeto.descricao }}
    </span>

    <div>
        <a href="{% url 'editar_projeto' projeto.id %}">
    ✏️ Editar</a>
        |
        <a href="{% url 'deletar_projeto' projeto.id %}"
   onclick="return confirm('Tem certeza que deseja deletar este projeto?')">
   🗑️ Deletar
        |
        <a href="{% url 'ver_projeto' projeto.id %}">
    👁️ Ver Projeto
</a>
</a>
</a>
    </div>
</li>

    {% empty %}
        <li>Nenhum projeto criado ainda!</li>
    {% endfor %}
</ul>
